


body{
	background-color: whitesmoke;
}
.subjectHeader{
	color: darkgrey;
	font: sans-serif;
}

#scoreBoard{
	font-weight: bold;
	border: 2px;
	color: black;
	background-color: white;
	border: 1px solid black;
	text-align: center;

}
#scoreBoard th {
	background-color: yellowgreen;
}
#scoreBoard tr:first-child {
	background-color: yellow;

}

table, tr, th, td {
	border: 1px solid black;
	padding: 10px;
}

#teamRoster{
	list-style-type: square;
}
.hyperlink



.hyperLink:hover {
	color: green;
	text-decoration: none;

}
#checkbox-grid{

}
blockquote {
	color: white;
	background-color: black;

}
ul > li:first-child{
		background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
		background-repeat: no-repeat;


}
ul li:first-child{
  display: none;
}
ul > li:last-child img{
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
		background-repeat: no-repeat;
		
}
ul li:last-child img {
  display: none;
}
form  ul{
	list-style: none;
}

ol li:first-child{
	font-weight: bold;
}
